{% extends 'page/page.html.twig' %}

{# {% block main_class %}{{ parent() }} home{% endblock %} #}

{% block main %}
<div class="home">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
