{% if not post.tags.empty %}
    {% for tag in post.tags %}
        <ul class="tags">
            <li><a href="{{ path('blog_tag_filter', {name: tag.name}) }}">{{ tag.name }}</a></li>
        </ul>
    {% endfor %}
{% endif %}