<div class="sidebar">
    <h4></h4>
    <div class="sidebar-container">
        <a class="return" href="{{ path('home') }}"><i class="fas fa-long-arrow-alt-left"></i> Retour</a>
        <ul class="menu-sidebar">
            <li class="sidebar-item"><a class="sidebar-link" href="{{ path('admin_post_index') }}">Post</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="{{ path('admin_comment_index') }}">Comment</a></li>
        </ul>
    </div>
</div>